week1/assignments/payroll.py
week1/folderSetup.jpg
week1/pauseAndPractice/inputOutput/index.html
week1/pauseAndPractice/inputOutput/index.py
week1/pauseAndPractice/pythonVariables/index.html
week1/pauseAndPractice/pythonVariables/index.py
week2/week2slack.jpg
week2/assignments/assignment2/output.jpg
week3/slackTask.jpg
week3/assignments/liveClass/binaryTree.py
week3/assignments/liveClass/delnodetwochild.py
week3/assignments/liveClass/parseTree.html
week3/assignments/liveClass/timecomplex.py
week3/assignments/liveClass/tree.py
week4/week4Slack210.jpg
week4/assignments/trial/trial.py
week4/assignments/trial/trial2.py
week5/week5slack.jpg
week6/week6Slack.jpg
week7/week7Slack.jpg
